.ur-wait {height: 31px; width: 31px; background: url(../images/access/wait.gif) no-repeat 0 0;}

.access-title-bar {color:black; font: normal normal normal 12px/normal Arial, Helvetica, sans-serif; font-weight: bold; padding-left: 4px}

.access-container {width:770px;height:393px; margin-bottom:-9px; overflow:hidden; font-family: Arial, Verdana, Helvetica,sans-serif; }
.access-providers-container {float:left; width:180px; height:393px; padding: 4px 7px 9px 0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.access-delimiter {float:left; background-color:#EAEAEA; width:3px; height:393px; border-left:1px solid #DCDCDC; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.access-content-container {float:left; width:380px; height:393px; padding: 11px 13px 0px 12px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.access-selected-container {float:left; background-color:#F5F5F5; border:1px solid #E4E4E4; width:206px; height:379px; margin-top:7px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; overflow:auto;}

a.access-provider-button { font: 12px Arial; display:block; border-radius:3px; padding:4px 7px; text-decoration:none; font-weight:bold; outline:none; line-height:18px; }
a.access-provider-button, 
a.access-provider-button:active, 
a.access-provider-button:link { color: #000!important; text-decoration: none }

a.access-provider-button-selected {background-color:#FFDF87;  }
a.access-provider-button:hover {background-color:#EFEFEF; }
.access-buttons-delimiter {border-top:solid 1px #E5E5E5; margin:3px 3px 3px 3px; height:1px; overflow:hidden; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding:0px;}

.access-delete {display:inline-block; cursor: pointer; width: 13px; height:13px; vertical-align:middle; background:url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat 0 -283px; } 
.access-delete:hover {background: url(/bitrix/js/main/core/images/controls-sprite.png) no-repeat -17px -283px; }
