.bx-vote-block {
	background-color: #f7fafb;
	border: 1px solid;
	border-color: #d9dee0 #e8eced #f2f6f7;
	border-radius: 2px;
	box-shadow: inset 0 1px 1px 0 #e3e7e8;
	color: #616161;
	padding: 11px 12px 13px;
}

.bx-quirks .bx-vote-block {
	zoom: 1;
}

.bx-vote-question-list, .bx-vote-question-list li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.bx-vote-question-list li {
	margin-top: 19px;
}

.bx-vote-question-list li:first-child {
	margin-top: 0;
}

.bx-vote-question-title {
	border-bottom: 1px solid #e6eaec;
	font-size: 15px;
	padding: 0 0 11px 3px;
}

.bx-vote-answer-list {
	border: none;
	border-spacing: 0;
	margin: 10px 0 5px;
	font-size: 14px;
	width: 100%;
}

.bx-vote-answer-item td {
	width: 30px;
	vertical-align: top;
}

.bx-vote-answer-item td:first-child {
	text-align: left;
	padding: 0;
	width: auto;
}

.bx-vote-answer-item td:last-child {
	text-align: right;
	padding: 2px 0 0 6px;
	white-space: nowrap;
}

.bx-vote-bar {
	border: 1px solid #f7fafb;
	border-radius: 2px;
	min-height: 23px;
	margin: 0 0 4px 0;
	position: relative;
}

.bx-vote-block-radio-wrap span,
.bx-vote-block-checbox-wrap span {
	display: block;
	float: left;
	opacity: 1;
	position: relative;
	width: 25px;
	z-index: 2;

	-webkit-transition: width 0.3s ease-in, opacity 0.3s ease;
	-moz-transition: width 0.3s ease, opacity 0.3s ease;
	-ms-transition: width 0.3s ease, opacity 0.3s ease;
	-o-transition: width 0.3s ease, opacity 0.3s ease;
	transition: width 0.3s ease, opacity 0.3s ease;
}

.bx-vote-block-input-wrap input {
	margin: 4px 5px 0 5px;
	overflow: hidden;
	padding: 0;
}

.bx-vote-block-input-wrap label {
	color: #616161;
	display: block;
	line-height: 16px;
	overflow: hidden;
	padding: 3px 0;
	vertical-align: top;
}

.bx-vote-voted-users-wrap {
	display: inline-block;
	min-width: 25px;
	margin-right: 6px;
	text-align: right;
	vertical-align: top;
	opacity: 0;
	white-space: nowrap;
}

.bx-vote-voted-users,
.bx-vote-voted-users:hover {
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px dashed #707172;
	color: #707172;
	font-size: 14px;
}

.bx-vote-data-percent {
	display: inline-block;
	font-size: 11px;
	color: #b2b4b5;
	text-align: right;
	opacity: 0;
	white-space: nowrap;
}

.bx-vote-bottom-block {
	border-top: 1px solid #e6eaec;
	padding: 13px 0 0 3px;
}

.bx-vote-block-link {
	color: #3767b0;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: normal;
	margin-top: 2px;
	vertical-align: top;
}

.bx-vote-block-link:hover {
	color: #3767b0;
	text-decoration: none;
}

.bx-vote-bottom-block .feed-add-button {
	margin-top: 0;
}

.bx-vote-block-result .bx-vote-question-title,
.bx-vote-block-result .bx-vote-bottom-block {
	border-color: #f7fafb;
}

.bx-vote-block-result .bx-vote-block-input-wrap label {
	margin-left: 8px;
	position: relative;
	z-index: 2;
}

.bx-vote-block-result .bx-vote-bar {
	background-color: #fff;;
	border-color: #d4d8d9 #f2f5f6 #f2f5f6 #d4d8d9;
	box-shadow: inset 1px 1px 0 0 #f0f2f2;
}

.bx-vote-block-result .bx-vote-voted-users-wrap,
.bx-vote-block-result .bx-vote-data-percent {
	opacity: 1;
}

.bx-vote-result-bar {
	background-color: #daf2fc;
	border-radius: 2px;
	top: 0;
	left: 0;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 0;

	-webkit-transition: width 0.3s ease-in;
	-moz-transition: width 0.3s ease-in;
	-ms-transition: width 0.3s ease-in;
	-o-transition: width 0.3s ease-in;
	transition: width 0.3s ease-in;
}

.bx-vote-loading {
	padding-right: 24px;
	background: url("images/waiter-blue.gif") right top no-repeat;
}

.bx-vote-block .errortext {
	color: red !important;
}
.bx-vote-block-link {
	color: #3767b0;
	border-bottom: 1px solid transparent;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	line-height: normal;
	margin-top: 14px;
	vertical-align: top;
}

.bx-vote-block-link:hover {
	border-bottom: 1px solid;
	color: #3767b0;
	text-decoration: none;
}

.bx-vote-block-link.feed-add-button-load:before,
.bx-vote-block-link.feed-add-button-load:after{
	display: none;
}

.bx-vote-block-link.feed-add-button-load {
	background: none !important;
	color: #3767b0 !important;
}

.bx-vote-block .feed-add-button,
.bx-vote-block .feed-add-button:hover {
	border-bottom: none;
}